<div class="navbar navbar-expand-sm">
  <div class="container-fluid" style="justify-content: flex-end;">
    <div>
        <% if user_signed_in? %>
            <%= link_to candidat_show_path(@user) do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
            <% end %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
    </div>
  </div>
</div>
