<%= render "shared/navbar" %>
<div class="container">
  <h2 style="text-align: center;">Trouve ton prochain tournage</h2>
</div>
<%= render "shared/filterbar" %>
<%= render "shared/cardindex" %>
<%= console %>
